@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HelpScreen">
            <span class="icon">
                <ion-icon name="help-circle-outline" style="transform: translateY(2px); font-size: 1.4em;"></ion-icon>
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link" style="color: rgb(94, 0, 0);">
                <span class="icon">
                    <ion-icon name="log-out-outline" s style="transform: translateY(1px); font-size: 1.4em;"></ion-icon>
                </span>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
    <div class="container-search">
        <form asp-action="Index" method="get">
            <div class="search-box">
                <input id="searching" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" required pattern="\S+.*"/>
                <label for="searching" >Search Book</label>
                <button type="submit" value="Search" class="btn-search">
                    <span class="icon">
                        <ion-icon name="search-circle-outline"></ion-icon>
                    </span>
                </button>
            </div>
        </form>
    </div>
</ul>
