@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="container-part">
    <div class="login">
        <h2>@ViewData["Title"]</h2>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-box">
                <input asp-for="Input.OldPassword"  autocomplete="current-password" required />
                <label asp-for="Input.OldPassword" ></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.NewPassword"  autocomplete="new-password" required />
                <label asp-for="Input.NewPassword" ></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.ConfirmPassword"  autocomplete="new-password" required />
                <label asp-for="Input.ConfirmPassword" ></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-register-login">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
