@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="container-part">
    <div class="login">
        <h2>@ViewData["Title"]</h2>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="input-box">
                <input asp-for="Username" disabled />
                <label asp-for="Username" style="top: -5px;"></label>
            </div>
            <div class="input-box">
                <input asp-for="Input.PhoneNumber" />
                <label asp-for="Input.PhoneNumber" ></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.HomeAddress" />
                <label asp-for="Input.HomeAddress" ></label>
                <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn-register-login">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
