@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="book-container">
    <div class="book-detail-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <h2 style="padding: 5px 20px" >Enter your email.</h2>
    <hr />
        <form method="post">
            <div class="form-group" style="padding: 5px 20px">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <label asp-for="Input.Email"></label>
                    <input id="email" asp-for="Input.Email" name="email" 
                        placeholder="email to reset password" 
                        class="form-control"  
                        type="email" 
                        aria-required="true">
            </div>
            <div class="form-group" style="padding: 5px 20px">
                <button type="submit" value="Save" class="btn btn-primary" style="background: #0b0052">Send request</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
