@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-display">
    <div class="login-register">
        <div class="login">
            <h2>@ViewData["Title"]</h2>
                <form id="account" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail"></ion-icon>
                        </span>
                        <input asp-for="Input.Email" required="true" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed"></ion-icon>
                        </span>
                        <input asp-for="Input.Password" required/>
                        <label asp-for="Input.Password" >Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="remember-forgot">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="btn-register-login">Log in</button>
                    </div>
                    <div class="already-not">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                        </p>
                        <p>
                            Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                        </p>
                    </div>
                </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
