@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-display">
    <div class="container-part">
        <div class="register">
            <h2>@ViewData["Title"]</h2>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input asp-for="Input.Email" type="email" required="true"/>
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="person"></ion-icon>
                    </span>
                    <input asp-for="Input.FullName" type="text" required/>
                    <label asp-for="Input.FullName">Full name</label>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input asp-for="Input.Password" type="password" required/>
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input asp-for="Input.ConfirmPassword" type="password"  required/>
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="home"></ion-icon>
                    </span>
                    <input asp-for="Input.HomeAddress" type="text"  required/>
                    <label asp-for="Input.HomeAddress">Home address</label>
                    <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="call"></ion-icon>
                    </span>
                    <input asp-for="Input.PhoneNumber" type="text" required/>
                    <label asp-for="Input.PhoneNumber">Phone number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="input-box-role">
                    @Html.DropDownListFor(n => n.Input.Role, Model.Input.SelectYourRole,
                        "Please select the role", new { @class = "form-control" })
                    <span id="role-validation" class="text-danger">@Html.ValidationMessageFor(m => m.Input.Role)</span>
                </div>
                <button id="registerSubmit" type="submit" class="btn-register-login">Register</button>
                <div class="already-not">
                    <p>Already have an account?
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
