@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="book-container">
    <div class="book-detail-header">
        <h1>@ViewData["Title"]</h1>
    </div>
    <h4 style="height: 100px; width: 100%; padding: 10px 20px;">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </h4>
</div>


<style>
    a{
        text-decoration: none;
        color: #d50f0f;
    }

    .a:hover{
        transition: ease-in-out 0.1s;
        font-size: 0.95em;
        color: #751212;
    }
</style>