@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FPT_BOOKSTORE.Models.User

<h1>Edit Admin</h1>
<form method="post">

    <input asp-for="Id" class="form-control" hidden>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="HomeAddress" class="form-label"></label>
        <input asp-for="HomeAddress" class="form-control">
        <span asp-validation-for="HomeAddress" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>