@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FPT_BOOKSTORE.VM.ResetPasswordVM

@{
    ViewBag.Title = "title";
    // Layout = "_Layout";
    // Layout = "_Layout2";
}
<h2>Reset password</h2>
<form method="post">
    <input asp-for="Token" hidden>
    <input asp-for="Email" hidden>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>