@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer-web {
  position: absolute;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  background: #162938;
}

.container-footer {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 10px 0 0 20px;
  color: #fff;
}

.container-footer p a {
  color: #ffffff;
  text-decoration: none;
}

.container-footer p a:hover {
  text-decoration: underline;
}
.navigation-main{
  position: absolute;
  display: flex;
  z-index: 1;
  top: 20px;
}

.navigation-main a {
  position: relative;
  font-size: 1.3em;
  font-weight: 650;
  color: #162938;
  text-decoration: none;
  font-weight: 500;
  margin-left: 23px;
}   

.form-search{
  position: absolute;
  top: 50px;
  left: 140px;
}

