@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer-web {
  position: absolute;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  background: #162938;
}

.container-footer {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 10px 0 0 20px;
  color: #fff;
}

.container-footer p a {
  color: #ffffff;
  text-decoration: none;
}

.container-footer p a:hover {
  text-decoration: underline;
}
.navigation-main a{
  text-decoration: none;
  color: #162938;
}

.navigation-main a:hover {
  color: red;
}
.search-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: #162938 solid 1px;
  overflow: hidden;
}

.search-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.search-box input:focus~label, .search-box input:valid~label {
  transform: translateY(-50%) translateX(-120px);
  transition: transform .5s;
}

.search-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}

.search-box input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-box .icon {
  position: absolute;
  right: 8px;
  top: 5px;
  font-size: 1.2em;
  color: #162938;
  line-height: 35px;
  transform: scale(1.2);
}

.btn-search {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: 1em;
}


