@model int
<div class="container row">
    <div class="col-12 text-center">
        <marquee direction="down"><h1 class="text-center" style="color:#ffffff; font-size: 2em;">Order Submitted Successfully</h1></marquee>
        <br />
        <img src="https://img.freepik.com/free-vector/illustrated-delivery-service-with-mask-design_23-2148506826.jpg?w=740&t=st=1682159089~exp=1682159689~hmac=4017ec0b435e38eeb24ea2f594553e21b3b51888b06e9b1a2e245a403ddccb9b" height="500px" />
    </div>
    <div class="col-12 text-center" style="color:#ffffff; font-size: 2em;">
        <br />
        Thank you for your order! 
        <br />
        Your Order Number is : <b><u>@Model</u></b>
    </div>
</div>